@CHARSET "UTF-8";

/* --- search --- */
.fulltextSearchForm {margin-bottom: 14px; overflow: auto;}
.fulltextSearchForm input.fulltextSearch-input {width: 600px; padding: 4px; line-height: 1.2em; margin: 0; }
.fulltextSearchForm input[type="button"] {padding: 2px 6px;}
.highlight {background: none repeat scroll 0 0 #FFCC00; color: black; border: 0 none;font-style: normal;margin: 0;padding: 0;width: auto;}
.fulltextSearch-totalResultCount {color: #999999;font-size: 13px;line-height: 35px;overflow: hidden;text-overflow: ellipsis; white-space: nowrap;}
table.form-table {border: 0; background: none; padding: 0; margin: 0;}
table.form-table tr {vertical-align: middle; background: none; border: none; padding: 0; margin: 0;}
table.form-table td {vertical-align: middle; background: none; border: none; padding: 0; margin: 0;}

/*--- Yandex Map ---*/
.geoInformation {clear: both; overflow: auto;}
.geoMap {}
.geoMapOnRight {float: right;}
.geoMapOnLeft {float: left;}
.geoText {}
.geoTextOnRight {float: right;}
.geoTextOnLeft {float: left;}

